<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Personas1</servlet-name>
        <servlet-class>Controlador.Personas1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pisos1</servlet-name>
        <servlet-class>Controlador.Pisos1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Habitaciones1</servlet-name>
        <servlet-class>Controlador.Habitaciones1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Personas1</servlet-name>
        <url-pattern>/Personas1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pisos1</servlet-name>
        <url-pattern>/Pisos1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Habitaciones1</servlet-name>
        <url-pattern>/Habitaciones1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
